.products {
  &__header {
    font-weight: 300;
    padding: 1rem 3rem;
    padding-top: 2rem;
    border-bottom: 1px solid #e7e7e7;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 2rem;
    align-items: center;
  }

  // &__items {

  // }
}
